@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Shorten the scroll bar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #e06363;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d31a1a;
}

.home-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
}

.icon-tray {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
  list-style: none;
  z-index: 1;
  margin-top: 350px;
  margin-right: 20px;
}

.icon {
  padding: 5px;
}

 .icon a {
  color: white;
}

.AboutSec {
  width: 100%;
  height: 400px;
}

.heading-text {
  margin-left: 650px;
  font-size: 35px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.img {
  width: 450px;
  height: 300px;
  border-radius: 50px;
  margin-left: 15px;
}

p {
  text-align: justify;
  padding: 10px;
  margin: 10px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.about-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SkillSec {
 /* border: solid;
 border-color: black; */
 width: 100%;
 height: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 200px;
 background-color: rgb(240, 235, 224);
 box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.355);
}
.SkillSec div{
  background-color: rgb(255, 255, 255);
  /* border: solid;
  border-color: black; */
   margin: 50px; 
  width: 500px;
  height: 500px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 10px rgba(79, 75, 75, 0.355);
}
.heading-text{
  text-align: center;
}
.skill-list .coding{
  list-style: none;
  text-align: left;
  padding: 10px;
  margin: 10px;
  margin-left:150px;
}
.skill-list .soft{
  list-style: none;
  text-align: left;
  padding: 2px;
  margin: 10px;
  margin-left:120px;
  text-align: justify;
  display: flex;
  justify-self: center;
  align-items: center;
  height: 100px;
  font-weight: bold;
}
h2{
  color:rgb(111, 109, 109);
 
}
.AchSec{
 width: 100%;
 height: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 40px;
 min-height: 200px;
 background-color: rgb(255, 255, 255);
}
a{
  text-decoration: none;
  color: black;
}
.ResSec{
  /* border: solid;
  border-color: black; */
  width: 100%;
 height: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 40px;
 min-height: 200px;
 background-color: rgb(255, 255, 255);

}
.ProjSec{
  width: 100%;
 height: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 40px;
 min-height: 200px;
 background-color: rgb(204, 151, 151);
 font-family: 'poppins',sans-serif;
 font-size:20px;


}